In [1]:
import pandas

In [2]:
#model Parameters
growth_factor= 1.18
EBITDA_margin = 0.45
tax_pct = 0.21
cap_ex = 0.03
work_cap_growth = 0.06
discount_factor = 0.94
exit_multiple = 32.70

In [3]:
dates = pandas.date_range(start='2022', end = '2032' , freq='Y')
dates

DatetimeIndex(['2022-12-31', '2023-12-31', '2024-12-31', '2025-12-31',
               '2026-12-31', '2027-12-31', '2028-12-31', '2029-12-31',
               '2030-12-31', '2031-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [4]:
model_df=pandas.DataFrame(index=dates)
terminal_value_df=pandas.DataFrame()
model_df

Empty DataFrame
Columns: []
Index: [2022-12-31 00:00:00, 2023-12-31 00:00:00, 2024-12-31 00:00:00, 2025-12-31 00:00:00, 2026-12-31 00:00:00, 2027-12-31 00:00:00, 2028-12-31 00:00:00, 2029-12-31 00:00:00, 2030-12-31 00:00:00, 2031-12-31 00:00:00]

In [5]:
#Rev Growth

start_rev = 222

rev_projection = [start_rev * growth_factor]
for i in range (1,len(dates)):
    rev_projection.append(rev_projection[i-1]*growth_factor)
model_df['revenue']  = rev_projection

In [6]:
model_df['EBITDA'] = model_df['revenue']*EBITDA_margin

In [7]:
model_df['taxes'] = model_df['EBITDA']* - tax_pct

In [8]:
model_df['cap_ex'] = model_df['revenue']* - cap_ex

In [9]:
model_df['work_cap'] = model_df['revenue']* - work_cap_growth

In [10]:
model_df['cash_flow'] = model_df.drop(columns=['revenue']).sum(axis=1)

In [11]:
model_df['discount_factors']=[discount_factor**i for i in range (1,len(dates)+1)]

In [12]:
model_df['present_value_fcf']= model_df['discount_factors']*model_df['cash_flow']

"Our projected Present Value of Projected Future Cash Flows are: 1089


We are providing revenue guidance in 2032 to be: 20175


With an estimated EBITDA around: 1371.1


The terminal value at this time given a multiple of <the-multiple-from-your-variable> and the above EBITDA for 2032, would equal: <your-terminal-value-here>."

In [13]:
model_df

,revenue,EBITDA,taxes,cap_ex,work_cap,cash_flow,discount_factors,present_value_fcf
2022-12-31,261.960000,117.882000,-24.755220,-7.858800,-15.717600,69.550380,0.940000,65.377357
2023-12-31,309.112800,139.100760,-29.211160,-9.273384,-18.546768,82.069448,0.883600,72.516565
2024-12-31,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,0.830584,80.435373
2025-12-31,430.408663,193.683898,-40.673619,-12.912260,-25.824520,114.273500,0.780749,89.218916
2026-12-31,507.882222,228.547000,-47.994870,-15.236467,-30.472933,134.842730,0.733904,98.961622
2027-12-31,599.301022,269.685460,-56.633947,-17.979031,-35.958061,159.114421,0.689870,109.768231
2028-12-31,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,0.648478,121.754922
2029-12-31,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.550920,0.609569,135.050559
2030-12-31,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,0.572995,149.798080
2031-12-31,1161.911493,522.860172,-109.800636,-34.857345,-69.714690,308.487501,0.538615,166.156031

In [14]:
model_df.transpose().round(0)

,2022-12-31,2023-12-31,2024-12-31,2025-12-31,2026-12-31,2027-12-31,2028-12-31,2029-12-31,2030-12-31,2031-12-31
revenue,262.0,309.0,365.0,430.0,508.0,599.0,707.0,834.0,985.0,1162.0
EBITDA,118.0,139.0,164.0,194.0,229.0,270.0,318.0,376.0,443.0,523.0
taxes,-25.0,-29.0,-34.0,-41.0,-48.0,-57.0,-67.0,-79.0,-93.0,-110.0
cap_ex,-8.0,-9.0,-11.0,-13.0,-15.0,-18.0,-21.0,-25.0,-30.0,-35.0
work_cap,-16.0,-19.0,-22.0,-26.0,-30.0,-36.0,-42.0,-50.0,-59.0,-70.0
cash_flow,70.0,82.0,97.0,114.0,135.0,159.0,188.0,222.0,261.0,308.0
discount_factors,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
present_value_fcf,65.0,73.0,80.0,89.0,99.0,110.0,122.0,135.0,150.0,166.0

In [15]:
exit_ebitda=model_df.iloc[-1]["revenue"]*1.18*0.45


print(f"""Our projected Present Value of Projected Future Cash Flows are:$ {model_df['present_value_fcf'].sum().round(0)}.
We are providing revenue guidance in 2032 to be:${round(model_df.iloc[-1]["revenue"]*growth_factor)}.
With an estimated EBITDA around: {round(exit_ebitda)}.

The terminal value at this time given a multiple of ${exit_multiple} and the above EBITDA for 2032, would equal: ${round(exit_ebitda*exit_multiple)}.""")

Our projected Present Value of Projected Future Cash Flows are:$ 1089.0.
We are providing revenue guidance in 2032 to be:$1371.
With an estimated EBITDA around: 617.

The terminal value at this time given a multiple of $32.7 and the above EBITDA for 2032, would equal: $20175.